
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
apscheduler
python-multipart
python-dateutil

numpy
pandas
xgboost
scikit-learn

pywebpush
requests
gunicorn
psycopg2-binary
